body{
    background-color: #1b2536;
}
.grid{
    display: grid;
    grid-template-rows: repeat(3, 125px);
    grid-template-columns: repeat(3, 125px);
    gap: 10px;
}
.grid div{
    background-color: #c4cbcc;
    color: #1b2536;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    border-radius: 15px;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    font-size: 75px;
    color: #c4cbcc;
}
fieldset{
    border-radius: 15px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #c4cbcc;
}
form div{
    font-weight: 700;
}
input, form, #start, .p1, #restart{
    font-size: 30px;
    border-radius: 15px;
    padding: 5px;
    border: none;
}
input::placeholder{
    color: #a9b0bd;
}
li{
    list-style: none;
}
.toggleDisplay{
    display: none !important;
}
.flex{
    display: flex;
}
.gameboard{
    display: flex;
    flex-direction: column;
    color: #a9b0bd;
    font-size: 30px;
    text-align: center;
    gap: 15px;
}
#p1, #p2{
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 15px;
}
.highlight{
    color: #1b2536;
    background-color: #a9b0bd;
}
#result{
    text-align: center;
}
#restart{
    background-color: #a9b0bd;
    color: #1b2536;
    align-self: center;
    border-radius: 15px;
    border: none;
    width: 200px;
}
#restart:hover, .boxes:hover, #start:hover, input:hover{
    background-color: #97bcfd;
}